<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Distkv, Ready Go!</title>
    <!--<base th:href="${#request.getContextPath()}+'/'">--><!--Defined Base URL-->
    <script src="../../static/js/vue.min.js"></script>
    <script src="../../static/js/element-ui.js"></script>
    <script src="../../static/js/axios.min.js"></script>
</head>
<body>
<div id="app">

    {{ info }}

</div>

<!--script-->
<script type = "text/javascript">
    new Vue({
        el: '#app',
        data () {
            return {
                info: null
            }
        },
        mounted () {
            axios
                .post(
                    /*'run/cmd',*/
                    'http://127.0.0.1:8080/run/cmd',
                    {
                      cmd: 'str.put k13233 v233323'
                    }
                )
                .then(response => (this.info = response.data))
                .catch(function (error) { // 请求失败处理
                    console.log(error);
                });
        }
    })
</script>
</body>
</html>