<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Distkv, Ready Go!</title>
  <!--<base th:href="${#request.getContextPath()}+'/'">--><!--Defined Base URL-->
  <link rel="stylesheet" href="../../static/css/run.css">
  <script src="../../static/js/vue.min.js"></script>
  <script src="../../static/js/axios.min.js"></script>
</head>
<body>
<div class="bg">
  <div class="logo">Distkv Cloud</div>
    <div class="search-box">
        <input class="search-txt" type="text" name="" placeholder="Welcome to Distkv Cloud!">
    </div>
    <button class="draw">Submit</button>
  <div id="app">
    {{ info }}
  </div>
</div>

<!--script-->
<script type="text/javascript">
    new Vue({
        el: '#app',
        data() {
            return {
                info: null
            }
        },
        mounted() {
            axios
            .post(
                    /*'run/cmd',*/
                    'http://127.0.0.1:8080/run/cmd',
                    {
                        cmd: 'str.put k13233 v233323'
                    }
            )
            .then(response => (this.info = response.data))
            .catch(function (error) { // 请求失败处理
                console.log(error);
            });
        }
    })
</script>
</body>
</html>