<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Distkv Cloud</title>
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<div class="bg">
  <div class="wrapper">
    <div class="area-1"></div>
    <div class="area-2"></div>
    <div class="area-3"></div>
    <div class="area-4"></div>
    <div class="area-5"><h4>Welcome to Distkv Cloud! </h4></div>
    <div class="area-6"></div>
  </div>
  <footer class="copyright-footer"><a class="link-footer" href="https://github.com/distkv-project">copyright
    &copy; distkv organization</a></footer>
</div>

</body>
</html>
